.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding: 10px 0;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
   
  }
  
  .navbar a:hover {
    color: yellow;
  }
  